<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Listar Preguntas</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '\css/styles.css' %}">
</head>
<body>
    <h1>Preguntas Existentes</h1>
    <ul>
        {% for pregunta in preguntas %}
            <li>{{ pregunta.contenido.name }} - {{ pregunta.tema.nombre }} - {{ pregunta.universidad.nombre }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'gestionar_universidades_cursos_temas' %}">Volver a Gestionar</a>
</body>
</html>